<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moxi.CPortTeacher">
    <!-- 学生C老师端 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <application
        tools:replace="android:icon, android:theme,android:label"
        android:name=".CPortApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_s_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LogingActivity" />
        <activity android:name=".activity.PersonalInformationActivity" />
        <activity android:name=".activity.AlterInformationActivity"></activity>
        <!--&lt;!&ndash; 下载服务进程 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="xiajun.dowloadlibrary.utils.DownloadService"-->
            <!--android:enabled="true"-->
            <!--android:persistent="true" />-->
    </application>

</manifest>
